html, body {
    height: 100%; /* Уверете се, че html и body са 100% от височината на viewport-а */
    margin: 0;
    padding: 0;
}

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    width: 250px;
    transition: margin-left .25s ease-out;
    margin-left: -250px;
}

    #sidebar-wrapper .list-group {
        width: 15rem;
    }

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#wrapper.toggled #page-content-wrapper {
    min-width: calc(100vw - 250px);
}

.sidebar-heading {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.list-group-item-action:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.list-group-item-action.active {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -250px;
    }

    #wrapper.toggled #page-content-wrapper {
        min-width: 100vw;
    }
}
