@model ProfilePictureViewModel

@{
    string fullUrl = $"{Model.ProfilePictureUrl}?v={Model.ProfilePictureVersion}";
}

<li class="nav-item me-2 d-flex align-items-center">
    <a asp-area="" asp-controller="Manage" asp-action="Profile" title="Manage" class="nav-link">
        <img src="@fullUrl" alt=""
             style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover; border: 2px solid #fff;" />
    </a>
</li>