@using System.Security.Claims
@using static EcommerceApp.Common.ApplicationConstants

@{
    int currentYear = DateTime.UtcNow.Year;
    string footerNote = (ReleaseYear == currentYear) ?
        $"{currentYear}" : $"{ReleaseYear} - {currentYear}";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EcommerceApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">EcommerceApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">All Products</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Popular">Popular Items</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="NewArrivals">New Arrivals</a></li>
                        </ul>
                    </li>
                </ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <form class="d-flex">
                        <a class="btn btn-outline-dark" asp-area="" asp-controller="Cart" asp-action="Index">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            @await Component.InvokeAsync("CartItemCount", new { userId = User.FindFirstValue(ClaimTypes.NameIdentifier) })
                        </a>
                    </form>
                }
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-3">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shop in style</h1>
            </div>
        </div>
    </header>
    <main role="main" class="pb-3 flex-grow-1">
        @RenderBody()
    </main>

    <footer class="border-top text-muted bg-secondary py-3 mt-5">
        <div class="container text-black fw-bold">
            &copy; @footerNote - EcommerceApp
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/scripts.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
